# .. Copyright (C) 2012-2022 Bryan A. Jones.
#
#  This file is part of the CodeChat System.
#
#  The CodeChat System is free software: you can redistribute it and/or
#  modify it under the terms of the GNU General Public License as
#  published by the Free Software Foundation, either version 3 of the
#  License, or (at your option) any later version.
#
#  The CodeChat System is distributed in the hope that it will be
#  useful, but WITHOUT ANY WARRANTY; without even the implied warranty
#  of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#  General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with the CodeChat System.  If not, see
#  <http://www.gnu.org/licenses/>.
#
# ************************************************
# |docname| - Configuration for a CodeChat project
# ************************************************
# This file defines the configuration for a CodeChat project. It contains a working `Sphinx <https://www.sphinx-doc.org/>`_ configuration.
#
# ``source_path``: optional; defaults to ``.`` (the current directory). A path to the root of the source tree. Relative paths are rooted in the directory containing this configuration file.
#source_path: .

# ``output_path``: required. A path to the root of the HTML output produced by this renderer. Relative paths are rooted in the directory containing this configuration file.
output_path: _build

# ``args``: required string or sequence of strings. This provides the arguments to invoke the renderer. These strings may optionally contain the following replacement values:
#
# - ``{project_path}``: an absolute path to the directory containing this file.
# - ``{source_path}``: the ``source_path`` above, but as an absolute path.
# - ``{output_path}``: the ``output_path`` above, but as an absolute path.
# - ``{sys_executable}``: the value of the running Python's `sys.executable <https://docs.python.org/3/library/sys.html#sys.executable>`_.
#
# The line below could also be written ``args: {sys_executable{ -m sphinx {source_path} {output_path}``.
args:
    # Run this in the same `virtual environment <https://docs.python.org/3/tutorial/venv.html>`_ that CodeChat was installed in. This replacement string must be surrounded with quotes to avoid confusing the YAML parser.
    -   "{sys_executable}"
    -   -m
    # The ``sphinx`` module invokes `sphinx-build <https://www.sphinx-doc.org/en/master/man/sphinx-build.html>`_.
    -   sphinx
    # The source directory, with quotes as explained above.
    -   "{source_path}"
    # The output directory, with quotes as explained above.
    -   "{output_path}"

# ``html_ext``: optional; defaults to ``.html``. The extension used by this renderer when generating HTML files.
#html_ext: .html

# ``project_type``: optional; defaults to ``general``. Define the project type, which enables special processing based on the type. Valid values are ``general`` (no special processing), ``Doxygen``, and ``PreTeXt``.
#project_type: general
